{
  "extends": ["rapid7/browser"],
  "globals": {
    "__dirname": true,
    "module": true,
    "require": true
  },
  "parser": "babel-eslint",
  "rules": {
    "arrow-body-style": [2, "as-needed"]
  }
}
